{% extends "base.html" %}


{% block title %}
<title> {{title}} </title>
{% endblock %}


{% block content %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="text-center mt-4">Dashboard Commentaires</h1>
            <div class="row">

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Commentaires
                    </div>
                    <div class="alert">

                    </div>
                    <div class="card-body">
                        <table class='table' id="datatablesSimple">
                            <thead>
                                <tr>    
                                    <th>Contenu</th>
                                    <th>Date de création</th>
                                    <th>Prénom de l'auteur</th>
                                    <th>idPost</th>
                                    <th>Statut</th>
                                    <th>Valider</th>
                                    <th>Refuser</th>
                                </tr>
                            </thead>


                            <tbody>
                                {% for comment in listComments %}
                                <tr>
                                    <td>{{comment.contenu}}</td>
                                    <td>{{comment.dateCreation|date("d/m/Y")}}</td>
                                    <td>{{comment.firstname}}</td>
                                    <td>{{comment.idPost}}</td>
                                    <td>{{comment.statut}}</td>
                                    <form method="post" action="">
                                        <input type="hidden" name="idComment" value="{{comment.id}}">
                                        <td><button type="submit" class="btn btn-success" name="action"
                                                value="valider">Valider</button></td>
                                        <td><button type="submit" class="btn btn-danger" name="action"
                                                value="refuser">Refuser</button></td>
                                    </form>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
    </main>
</div>


<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="text-center mt-4">Dashboard Rôle</h1>
            <div class="row">

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Rôle Utilisateur
                    </div>
                    <div class="alert">

                    </div>
                    <div class="card-body">
                        <table class='table' id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Email</th>
                                    <th>Rôle</th>
                                </tr>
                            </thead>


                            <tbody>
                                {% for user in listUsers %}
                                <tr>
                                    <td>{{user.id}}</td>
                                    <td>{{user.lastname}}</td>
                                    <td>{{user.firstname}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.role}}</td>
                                    <td>
                                        <form method="post">
                                            <input type="hidden" name="id" value="{{user.id}}">
                                            <select class="form-select" name="role">
                                                <optgroup label="Choisissez un rôle">
                                                    <option value="admin">admin</option>
                                                    <option value="user">user</option>
                                                </optgroup>
                                            </select>
                                            <button type="submit" class="btn btn-success" value="newRole"
                                                name="action">Valider</button>
                                        </form>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
    </main>
</div>





{% endblock %}