{% extends "base.html" %}


{% block title %}
<title> {{title}} </title>
{% endblock %}


{% block content %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="text-center mt-4">Dashboard</h1>
            <div class="row">

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Commentaires
                    </div>
                    <div class="alert">

                    </div>
                    <div class="card-body">
                        <table class='table' id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Contenu</th>
                                    <th>Date de création</th>
                                    <th>idUser</th>
                                    <th>idPost</th>
                                    <th>Statut</th>
                                    <th>Valider</th>
                                    <th>Refuser</th>
                                </tr>
                            </thead>


                            <tbody>

                                <tr>
                                    <td>1</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
    </main>
</div>


<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="text-center mt-4">Dashboard</h1>
            <div class="row">

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Commentaires
                    </div>
                    <div class="alert">

                    </div>
                    <div class="card-body">
                        <table class='table' id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>email</th>
                                    <th>Rôle</th>
                                </tr>
                            </thead>


                            <tbody>

                                <tr>
                                    <td>1</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
    </main>
</div>





{% endblock %}