{% extends "base.html" %}


{% block title %}
<title> {{title}} </title>
{% endblock %}


{% block content %}
<!-- Main Content-->
{% if errors is not empty %}

<div class="alert alert-danger" role="alert">
    {% for error in errors %}
    <p>{{error}}</p>
    {% endfor %}
</div>
{% endif %}
<form method="post">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Mot de passe oublié</h3>

                        <div class="form-outline mb-4">
                            <input type="email" id="typeEmailX-2" class="form-control form-control-lg"
                                placeholder="Email" name="mail" />
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" id="typePasswordX-2" class="form-control form-control-lg"
                                placeholder="Nouveau mot de passe" name="newPwd" />
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" id="typePasswordX-2" class="form-control form-control-lg"
                                placeholder="Confirmez le nouveau mot de passe" name="confNewPwd" />
                        </div>

                        <button class="btn btn-primary btn-lg btn-block" type="update">Update</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>


{% endblock %}